@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #4F008C;
  --color-secondary: #03BB86;
  --color-text-main: #000000;
  --color-text-secondary: #A2AEB5;
  --color-text-thirdly: #8B9BA3;
  --color-background-main: #FDFDFD;
  --color-background-secondary: #F5F7F8;
  --color-background-thirdly: #C2C9CE;
  --color-border-dark: #9DA7AC;
  --color-border-light: #E7EAEB;
  --color-danger-dark: #D64442;
  --color-danger-light: #FCF4F4;
  --color-blue-light: #4BCED9;
  --color-orange: #F66830;
  --color-white: #FFFFFF;
}